/* containers */

.container {
  width: 100%;
  text-align: center;
}

.header {
  text-align: center;
  background-color: #fc7f03;
  height: 5rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  width: 80%;
  margin: 5rem auto;
}

.buttonContainer {
  margin-top: 5rem;
  position: absolute;
  top: 1rem;
}

.courses {
  margin-top: 3rem;
}

/* elements */

.headerText {
  margin-top: 0;
  padding-top: 1rem;
  color: whitesmoke;
}

.button {
  margin-left: 2rem;
  background-color: #fc7f03;
  padding: 0.8rem;
  border: none;
  border-radius: 5rem;
  transition: 500ms;
  -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.16);
}

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 15px -8px rgba(0, 0, 0, 0.21);
  box-shadow: 5px 5px 15px -8px rgba(0, 0, 0, 0.21);
}

.row {
  text-align: center;
}
